.App {
  width: 100%;
  height: 100vh; // temporary
  @include flex(center, center);

  .calendar-container {
    @include flex(center, flex-end);
    transform: scale(.9);
    @include large-desktop {
      transform: scale(1);
    }

    @import 'components/Calendar';

    @import 'components/WeeklyTracker';
  }
}